@tailwind base;
@tailwind components;
@tailwind utilities;


.infected *{
    text-shadow: 1px 0 0px red, -2px 0 0 blue, 1px 1px 0 green;
    animation: glitch 1s infinite linear alternate;
}

body .infected {
    transform: translate(10px)
}

@keyframes glitch{
    0{
        text-shadow: 1px 0 0px red, -2px 0 0 blue;
    }
    50%{
        transform: translate(12px 0)
    }
    100%{
        text-shadow: -3px 0 0px red, 2px 0 0 blue, 1px 1px 0 green;
    }
} 

.banner{
    height: calc(100vh + 64px)
}

.polygon{
    clip-path: polygon(20% 0, 100% 0, 100% 64%, 84% 100%, 0% 100%, 0% 100%, 0 36%);
}
.polygon-terminal{
    clip-path: polygon(5% 0, 100% 0, 100% 75%, 95% 100%, 0% 100%, 0% 100%, 0 30%);
}
.polygon-2{
    clip-path: polygon(90% 0, 100% 40%, 100% 100%, 0% 100%, 0% 0%)
}
.polygon-3{
    clip-path: polygon(27% 0, 100% 1%, 100% 100%, 0 100%, 0 27%);
}
.mold-pol{
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%)
}

input[type = radio]{
    display: none;
}
.bio{
    position: relative
}
.bio::after{
    content: "";
    width: 24px;
    height: 184px;
    background: url(/src/assets/img/object.png) no-repeat;
    position: absolute;
    right: -40px;
    top: 25%;
}
.btn-send{
    position: relative
}
.btn-send::after, .btn-send::before{
    content: "";
    width: 18px;
    height: 18px;
    background: #020a1f;
    display:block;
    position: absolute;
    bottom: -14px
}
.btn-send::before{
    left: 50px
}
.testff::-webkit-scrollbar, body::-webkit-scrollbar {
    width: 2px; 
}

.testff::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
    background: #1976d2;
}
.testff::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    background: transparent;
}

.terminal::after{
    content: "";
    width: 50px;
    height: 1px;
    background: rgb(0 178 255);
    display: block;
    position: absolute;
    right: -50px
}
.terminal::before{
    content: "";
    width: 50px;
    height: 1px;
    background: rgb(0 178 255);
    display: block;
    position: absolute;
    left: -50px;
    bottom: 0
}

.frame-command::after{
    content: "";
    background-image: url("frame.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 170px;
    height: 32px;
    display: block;
    position: absolute;
    top: -16px;
    left: -3px;
}
.frame-command::before{
    content: "";
    background-image: url("frame.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 170px;
    height: 32px;
    display: block;
    position: absolute;
    bottom: -16px;
    right: -3px;
    transform: rotate(180deg)
}

.text-gradient{
    background: linear-gradient(90.09deg, #00B2FF 0.07%, #6100FF 98.32%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.text-shadow{
    text-shadow: 0 0 4px rgb(74 222 128);
}

.spinner {
/*   width: 56px;
   height: 56px;*/
   display: grid;
   color: #fa0000;
   background: radial-gradient(farthest-side, currentColor calc(100% - 6.7px),#0000 calc(100% - 5.6px) 0);
   -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 14.6px),#000 calc(100% - 13.4px));
   border-radius: 50%;
   animation: spinner-sm4bhi 2s infinite linear;
}

.spinner::before,
.spinner::after {
   content: "";
   grid-area: 1/1;
   background: linear-gradient(currentColor 0 0) center,
          linear-gradient(currentColor 0 0) center;
   background-size: 100% 11.2px,11.2px 100%;
   background-repeat: no-repeat;
}

.spinner::after {
   transform: rotate(45deg);
}
.loading{
    animation: loading 15s linear
}

.cursor::after{
    content: "";
    width: 2px;
    height: 20px;
    background: #00de00;
    margin-left: 2px;
    animation: pulse .7s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite;
    display: block
}

@keyframes pulse{
    0{
        opacity: 1;
    }
    100%{
        opacity: 0
    }
}

@keyframes loading{
    0%{
        width: 0%
    }
    100%{
        width: 100%
    }
}

@keyframes spinner-sm4bhi {
   100% {
      transform: rotate(1turn);
   }
}

@layer components{
    .btn-nav-down{
        @apply border border-blue-500 absolute bottom-24 w-10 h-10 rounded-full text-white font-bold text-2xl flex items-center justify-center transition duration-500
    }
    .btn-nav-down:hover{
        @apply bg-white bg-blue-400/[.2]
    }

    .img-profile{
        @apply w-40 h-40 md:w-96 md:h-96
    }
    .img-profile img{
        @apply w-full h-full
    }
    input[type = radio]:checked + label div{
        @apply bg-blue-300/[.25] 
    }

    .bio::after{
        @apply hidden xl:block   
    }

    .bar-energy{
        @apply w-full h-2 
    }
}

.bar-energy{
    background: linear-gradient(90deg, #252525 90%, blue, #252525);
    animation: energy 30s infinite linear;
}

@keyframes energy {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 100vw
    }
}